/* stylelint-disable */

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./../../../prestatest/assets/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
      url('./../../../prestatest/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
      url('./../../../prestatest/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('./../../../prestatest/assets/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff2') format('woff2'),
        url('./../../../prestatest/assets/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'),
        url('./../../../prestatest/assets/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gotham-Light';
    src: url('./../../../prestatest/assets/fonts/Gotham-Light/Gotham-Light.woff2') format('woff2'),
        url('./../../../prestatest/assets/fonts/Gotham-Light/Gotham-Light.woff') format('woff'),
        url('./../../../prestatest/assets/fonts/Gotham-Light/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('./../../../prestatest/assets/fonts/Gotham-Book/Gotham-Book.woff2') format('woff2'),
        url('./../../../prestatest/assets/fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
        url('./../../../prestatest/assets/fonts/Gotham-Book/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('./../../../prestatest/assets/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
        url('./../../../prestatest/assets/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
        url('./../../../prestatest/assets/fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'pstesticon';
    src:  url('./../../../prestatest/assets/fonts/pstesticon/pstesticon.eot?yiqjtg');
    src:  url('./../../../prestatest/assets/fonts/pstesticon/pstesticon.eot?yiqjtg#iefix') format('embedded-opentype'),
      url('./../../../prestatest/assets/fonts/pstesticon/pstesticon.ttf?yiqjtg') format('truetype'),
      url('./../../../prestatest/assets/fonts/pstesticon/pstesticon.woff?yiqjtg') format('woff'),
      url('./../../../prestatest/assets/fonts/pstesticon/pstesticon.svg?yiqjtg#pstesticon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="psticon-"], [class*=" psticon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pstesticon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.psticon-arrow-down:before {
    content: "\e905";
}
.psticon-search:before {
    content: "\e907";
}
.psticon-close:before {
    content: "\e906";
}
.psticon-cart:before {
    content: "\e900"
}
.psticon-quote:before {
    content: "\e901";
}
.psticon-user:before {
    content: "\e902";
}
.psticon-find:before {
    content: "\e903";
}
.psticon-phone:before {
    content: "\e904";
}
 
