.header-banner{
    text-align: center;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    .container{
        a{
            font-family: $font-1-regular;
            font-size: 15px;
            color: #fff;
            letter-spacing: 0.05em;
            display: inline-block;
            i{
                display: inline-block;
                margin-right: 15px;
            }
        }
    }
}