/* HAMBURGER MENU MOBILE */
.menu-toggle{
    display: flex;
    flex-direction: column;
    width: 18px;
    cursor: pointer;
    span{
        background: #000;
        border-radius: 10px;
        height: 2px;
        margin: 2px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
        &:nth-of-type(1){
            width: 50%;
        }
        &:nth-of-type(2){
            width: 100%;
        }
        &:nth-of-type(3){
            width: 75%;
        }
    }
    &.open{
        span{
            &:nth-of-type(1){
                transform-origin: bottom;
                transform: rotatez(45deg) translate(11px, 0.5px)
            }
            &:nth-of-type(2){
                transform-origin: top;
                transform: rotatez(-45deg)
            }
            &:nth-of-type(3){
                transform-origin: bottom;
                width: 50%;
                transform: translate(1px, -10px) rotatez(45deg);  
            }
        }
    }
}
/* END HAMBURGER MENU MOBILE */

